export(ZIJMCV)
export(ZISRE)
export(DP_CV)
export(DP_CV_CI)
export(DP_SRE)
export(DP_SRE_CI)
export(DPplot1)
export(DPplot2)
importFrom("stats", "sd")
importFrom("stats", "quantile")
importFrom("stats", "model.frame")
importFrom("stats", "model.matrix")
importFrom("stats", "rnorm")
importFrom("jagsUI","jags")
importFrom("survival","Surv")
importFrom("statmod","gauss.quad")
